/* line 3, stdin */
body, html {
  height: 100%;
  font-weight: 300;
  margin: 0;
  padding: 0; }

/* line 9, stdin */
.page {
  height: 100%; }

/* line 12, stdin */
body {
  margin: 0;
  padding: 0;
  color: rgba(255, 255, 255, 0.87); }

/* line 17, stdin */
.splash-section-1 {
  background: url("css-images/pantalla-1.jpg");
  background-size: 100% auto;
  padding-top: 7rem; }

/* line 22, stdin */
.menu-splash-logo {
  opacity: 0.5;
  position: absolute;
  top: 1rem;
  left: 4rem; }
  /* line 27, stdin */
  .menu-splash-logo img {
    width: 150px; }

/* line 30, stdin */
.play {
  cursor: pointer;
  opacity: 0.4;
  position: relative;
  top: 6rem;
  display: inline-block; }
  /* line 36, stdin */
  .play img {
    width: 100%; }

/* line 39, stdin */
.splash-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(147, 204, 206, 0.7);
  z-index: 2; }

/* line 47, stdin */
.header-padding {
  padding: 1rem 4rem; }

/* line 50, stdin */
.splash-logo img {
  width: 150px; }

/* line 53, stdin */
.menu-item {
  cursor: pointer;
  position: relative;
  font-size: 2rem;
  padding-right: 4rem;
  top: 1rem; }

/* line 60, stdin */
.align-right {
  text-align: right; }

/* line 63, stdin */
.fa-menu {
  display: block;
  font-size: 0.8rem; }

/* line 67, stdin */
.section-text {
  text-align: center;
  font-size: 2.125rem;
  font-family: 'Bitter', serif; }

/* line 72, stdin */
a.splash-button {
  color: rgba(255, 255, 255, 0.87); }

/* line 75, stdin */
.splash-button {
  display: inline-block;
  cursor: pointer;
  border: solid 4px rgba(255, 255, 255, 0.87);
  border-radius: 4px;
  padding: 0.7rem 0;
  width: 228px;
  background-color: rgba(153, 153, 153, 0.3);
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  font-size: 21px;
  box-sizing: border-box; }
  /* line 88, stdin */
  .splash-button:visited, .splash-button:hover, .splash-button:active {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.87); }

/* line 92, stdin */
a.splash-button-primary {
  color: rgba(255, 255, 255, 0.87); }

/* line 95, stdin */
.splash-button-primary {
  display: inline-block;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.87);
  border-radius: 4px;
  font-size: 21px;
  padding: 0.7rem 0;
  width: 228px;
  background-color: #93CCCE;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  box-sizing: border-box; }
  /* line 107, stdin */
  .splash-button-primary:visited, .splash-button-primary:hover, .splash-button-primary:active {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.87); }

/* line 111, stdin */
.splash-section {
  padding-bottom: 4rem;
  width: 100%;
  position: relative;
  z-index: 1; }

/* line 117, stdin */
.margin-top-4 {
  padding-top: 4rem; }

/* line 120, stdin */
.margin-top-2 {
  margin-top: 2rem; }

/* line 123, stdin */
.align-center {
  text-align: center; }
